:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --color-title: #212121;
  --color-text: #757575;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
}

.main {
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #f5f5f5 100%);
}

.container {
  width: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.logo {
  padding-top: 34px;
  padding-bottom: 34px;
}

.footer__logo {
  padding-top: 0;
  padding-bottom: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 94%;
  max-width: 780px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 5px;
  padding: 40px 45px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    max-width: 528px;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .modal {
    max-width: 450px;
  }
}
.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;
}

.modal__title {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

.modal__close {
  cursor: pointer;
  font-size: 36px;
  border: none;
  background-color: transparent;
}

.modal__body {
  margin-bottom: 52px;
}

.food-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 15px;
}

.food-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.food-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  margin-left: auto;
  margin-right: 47px;
}

.counter-button {
  cursor: pointer;
  width: 39px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #40a9ff;
  border-radius: 2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #40a9ff;
}

.counter-button:hover {
  background-color: #40a9ff;
  color: #fff;
}

.counter {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 10px;
  margin-right: 10px;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-footer__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pricetag {
  background: #262626;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #fafafa;
  padding: 15px 20px;
}

.modal-footer__button {
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  background-color: #fff;
  color: #595959;
}

.modal-footer__button-blue {
  margin-right: 10px;
  background-color: #1890ff;
  color: #fff;
}

.modal-footer__button-blue:hover {
  background-color: #fff;
  color: #595959;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .modal__header {
    margin-bottom: 25px;
  }
  .modal__title {
    font-size: 26px;
    line-height: 32px;
  }
  .modal__close {
    font-size: 30px;
  }
  .modal__body {
    margin-bottom: 32px;
  }
  .food-row {
    margin-bottom: 10px;
  }
  .food-name {
    font-size: 14px;
    line-height: 20px;
  }
  .food-price {
    font-size: 16px;
    line-height: 26px;
  }
  .counter-button {
    width: 29px;
    height: 25px;
  }
  .pricetag {
    font-size: 16px;
    line-height: 20px;
    padding: 10px 15px;
  }
}
.login-modal {
  max-width: 580px;
}

.login-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-lable {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  gap: 7px;
}

.login-input {
  width: 376px;
  height: 34px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .login-input {
    width: 326;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .login-modal {
    max-width: 380px;
  }
  .login-input {
    width: 226px;
  }
}
.input {
  padding-left: 35px;
  padding-right: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #bfbfbf;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__adress_input {
  color: #000000;
  flex: 0.8;
  height: 40px;
  background-image: url(../img/icon/home.svg);
  background-repeat: no-repeat;
  background-position: 11px 10px;
}

.user-name {
  margin-right: 20px;
  font-weight: 700;
  font-size: 22px;
}

.header__login_bnt {
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  margin-right: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  background-color: #1890ff;
  color: #fff;
}

.header__login_icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.header__out_bnt {
  display: none;
  cursor: pointer;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  margin-right: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  background-color: red;
  color: #fff;
}

.header__trash_bnt {
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 15px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  background-color: #fff;
}

.header__trash_icon {
  margin-right: 4px;
}

.header__buttons {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header__login_bnt {
    padding: 4px 8px;
    margin-bottom: 5px;
    margin-right: 0;
    height: 30px;
    width: 100%;
  }
  .header__out_bnt {
    padding: 4px 8px;
    margin-bottom: 5px;
    margin-right: 0;
    height: 30px;
    width: 100%;
  }
  .user-name {
    font-style: 14px;
  }
  .header__trash_bnt {
    padding: 2px 5px;
    height: 30px;
  }
  .header__buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.promo {
  display: flex;
  align-items: center;
  background-clip: content-box;
  height: 270px;
  background-color: #fff45c;
  background-image: url(../img/promo/vegetables.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  margin-bottom: 20px;
}

.pizza {
  background-color: #fff1b8;
  background-image: url(../img/promo/pizza.png);
  background-size: 600px;
  background-position: top right -100px;
}

.kebab {
  background-color: #cbecec;
  background-image: url(../img/promo/kebab.png);
  background-size: 600px;
  background-position: top right -100px;
}

.sushi {
  background-color: #ecebd9;
  background-image: url(../img/promo/sushi.png);
  background-size: 600px;
  background-position: top right -100px;
}

.promo__offer {
  padding-left: 70px;
  padding-top: 68px;
  padding-bottom: 68px;
}

.promo__title {
  font-style: normal;
  font-weight: 700;
  font-size: 39px;
  line-height: 46px;
  color: #302c34;
  padding-bottom: 15px;
}

.promo__text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #302c34;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .promo {
    background-size: 600px;
    background-position: top right -100px;
  }
  .promo__offer {
    padding-left: 30px;
    padding-top: 38px;
    padding-bottom: 38px;
  }
  .pizza {
    background-size: 400px;
    background-position: top right -100px;
  }
  .kebab {
    background-size: 320px;
    background-position: top right -50px;
  }
  .sushi {
    background-size: 400px;
    background-position: top right -150px;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .promo {
    background-size: 630px;
    background-position: top right -220px;
  }
  .pizza {
    background-size: 400px;
    background-position: top right -220px;
  }
  .kebab {
    background-size: 260px;
    background-position: top right -160px;
  }
  .sushi {
    background-size: 450px;
    background-position: top right -210px;
  }
  .promo__title {
    font-size: 24px;
    line-height: 26px;
    padding-bottom: 35px;
  }
  .promo__text {
    font-size: 16px;
    line-height: 20px;
  }
  .promo__offer {
    padding-left: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
.restaurants {
  padding-bottom: 90px;
}

.restaurants__heading {
  display: flex;
  align-items: center;
  padding-top: 56px;
  padding-bottom: 44px;
}

.restaurant__heading {
  display: flex;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 44px;
}

.restaurants__input {
  width: 276px;
  height: 34px;
  background-image: url(../img/icon/search.svg);
  color: #000000;
  background-repeat: no-repeat;
  background-position: 11px 7px;
  margin-left: auto;
}

.cards {
  display: flex;
  align-items: center;
}

.cards__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.cards__link {
  cursor: pointer;
}

.cards__item {
  max-width: 374px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
}

.cards__image {
  width: 374px;
  height: 250px;
  object-fit: cover;
}

.cards__text {
  padding-left: 24px;
  padding-top: 24px;
}

.cards__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cards__heading_rest {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 24px;
}

.cards__time {
  margin-right: 10px;
}

.cards__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.cards__title_reg {
  font-weight: 400;
  margin-bottom: 10px;
}

.cards__time {
  padding: 1px 8px;
  background: #262626;
  border-radius: 2px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  align-items: center;
  color: #ffffff;
}

.cards__info {
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 23px;
  padding-bottom: 34px;
}

.restourant_cards__info {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.cards__rating {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #ffc107;
}

.cards__rating_star {
  padding-bottom: 3px;
  margin-right: 8px;
}

.cards__price,
.cards__product {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #8c8c8c;
}

.cards__price::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #8c8c8c;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.cards__btn {
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  margin-right: 32px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  background-color: #1890ff;
  color: #fff;
}

.cards__descr {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #8c8c8c;
}

.cards__price_rest {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}

.menu-item {
  height: 468px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cards__image {
    width: 342px;
  }
  .cards__item {
    max-width: 342px;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .cards__image {
    width: 450px;
  }
  .cards__item {
    max-width: 450px;
  }
  .restaurants__heading {
    padding-top: 30px;
  }
}
.footer__block {
  padding-bottom: 60px;
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__navigation {
  margin-right: auto;
  margin-left: 35px;
}

.footer__link {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #595959;
}

.footer__link:not(:last-child) {
  margin-right: 15px;
}

.social {
  display: flex;
  align-items: center;
}

.social-links__item:not(:last-child) {
  margin-right: 21px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer__block {
    padding-bottom: 30px;
    padding-top: 30px;
    justify-content: center;
    flex-direction: column;
  }
  .footer__link:not(:last-child) {
    margin-right: 0;
  }
  .footer__navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 15px;
  }
  .footer__logo {
    margin-bottom: 15px;
  }
}/*# sourceMappingURL=main.css.map */